body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url(../IMGs/confetti.jpg);
    overflow: hidden;
    background-size: cover;
}

:root {
    --dark: #0e100f;
    --mediumDark: #3b438f;
    --normal: #a056fa;
    --mediumLight: #8de6e9;
    --light: #fefce1;
    --displayFont: "Archivo", sans-serif;
    --copyFont: "Montserrat", sans-serif;
  }

#puzzle-container {
    --fullWidth: 400px;
    position: relative;
    max-width: var(--fullWidth);
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 2px solid #000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #2d437b63;
}

.puzzle-piece {
    position: absolute;
    cursor: pointer;
    user-select: none;
    touch-action: none;
    width: 100px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    background-size: cover;
    background-color: #fff;
    /* opacity: .5 */
}

.puzzle-piece > img.correct {
    opacity: 1!important; /* Green color for correct pieces */
}

.below {
    z-index: -100;
}

.congrats-message {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: var(--mediumDark);
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.congrats-message > span {
    padding:20px;
}
