* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* display font
font-family: 'Archivo', sans-serif;
copy font
font-family: 'Montserrat', sans-serif; */

:root {
  --dark: #0e100f;
  --mediumDark: #3b438f;
  --normal: #d556fa;
  --mediumLight: #8de6e9;
  --light: #fefce1;
}

body {
  /* background-color: var(--dark); */
  background-image: url(./IMGs/confetti.jpg);
  background-size: 200vw auto;
  background-position-y: 0px;
  background-repeat: no-repeat;
  color: var(--light);
  font-family: "Montserrat", sans-serif;
  --topBarHeight: 100px;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.backgroundImg {
  width: 100%;
  height: 100%;
}

.blurBg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  backdrop-filter: blur(7px);
  display: none;
  justify-content: center;
  align-items: center;
}
/* Styles that specifically apply to Safari */
@supports (-webkit-backdrop-filter: blur(7px)) {
  .blurBg {
    background-color: rgba(
      0,
      0,
      0,
      0.6
    ); /* Background color specific to Safari */
  }
}

.topBar {
  width: 100%;
  height: var(--topBarHeight);
  padding: 1em;
  border-bottom: 1px solid var(--mediumDark);
  backdrop-filter: blur(7px);
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}

.keyWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr 2px;
  column-gap: 0.3em;
  font-size: 60px;
}

.keyWrapper .opacity0 {
  opacity: 0;
}

.keyWrapper .numUnderline {
  background-color: var(--mediumDark);
  grid-row: 2 / 3;
}

.topBarPlaceholder {
  height: var(--topBarHeight);
}

.wrapper {
  width: 100%;
  height: calc(100vh - var(--topBarHeight));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  overflow: hidden;
}

.title {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  padding: 0.2em;
  width: 100%;
  text-align: center;
  font-size: 70px;
  color: var(--normal);
}

.proceed {
  background-color: var(--normal);
  color: var(--light);
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  padding: 1em;
  border: none;
  border-radius: 0.9em;
}

.questionWrapper {
  opacity: 0;
  padding: 1.3em;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  overflow: hidden;
  display: none;
}

.question {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: clamp(2rem, 40px, 15px);
}

.optionWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.7em;
}

.optionWrapper > div {
  padding: 0.7em;
  border: 1px solid var(--mediumDark);
  border-radius: 10px;
  font-size: 14px;
}

.blurBgMsgWrapper {
  padding: 0.5em;
  background-color: var(--mediumDark);
  width: 90%;
  max-width: 460px;
  opacity: 0;
  border-radius: 15px;
  display: none;
  position: absolute;
  z-index: 15;
  row-gap: 0.5em;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blurBgMsgWrapper > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blurBgMsgWrapper h2 {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.blurBgMsgWrapper span {
  font-size: 20px;
}

.getHint {
  background-color: transparent;
  border: 2px solid var(--light);
  color: var(--light);
  padding: 0.6em;
  border-radius: 10px;
  font-size: 18px;
  margin: 12px 0;
  display: none;
}
